:root{
    --font-1: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%
}

body{
    font-family: News Cycle;
    margin: 0;
    color: white;
    background-color: #303339!important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter;
}

::selection{
    background: white;
    color: #18181d;
}

body::-webkit-scrollbar { 
    width: 0;
}


.header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: .5rem 1rem;
    background-color: #23272a;
    color: white;
    transition: 0.3s;
    white-space: nowrap;
    overflow-y: auto;
}

.header::-webkit-scrollbar { 
    width: 0;
} 

@media (max-width: 480px){
    .header{
        padding-bottom: 3px;
    }
}

.header-content{
    display: flex;
    padding-right: 5px;
}

.header-logo a{
    color: white;
    text-decoration: none;
    font-family: Alata;
    font-size: 1.25rem;
    position: relative;
    top: 5px;
}

@media (max-width: 500px){
    .header-logo a{
        display: none;
    }
}

.header-logo img{
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-links a{
    color: white;
    text-decoration: none;
    position: relative;
    top: 20px;
    padding-left: 30px;
}

.header-links a:last-child{
    padding-right: 30px;
}

.header img{
    margin-left: 10px;
}

.coverpage{
    background-color: #7298da;
    padding: 40px;
    width: 100%;
    color: white;
}

.coverpage h1{
    font-size: 50px;
    font-weight: bolder;
    margin: 0;
}

.coverpage p{
    margin-top: 0;
}

.login-section{
    text-align: center;
    margin-top: 25vh;
}

.login-section p{
    margin-bottom: 10px;
}

.login-section a, .login-btn{
    display: inline-block;
    width: 50%;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(255, 46, 46);
    outline: none;
    cursor: pointer;
}

.load-text{
    text-align: center;
    margin-top: 20vh;
}

.userpage{
    text-align: center;
    margin-top: 30px;
}

.userpage img{
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.login-btn{
    text-align: center;
    margin-top: 20px;
}

.entry input, .entry textarea, .coverpage input{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-top: 4px;
    padding: 10px;
    box-shadow: 0 1px 5px #232329;
}

.entry{
    padding-top: 25px;
}

.entry p{
    margin: 0;
    font-size: 15px;
}

.new-bot-entry-cover{
    margin-left: 10px;
    display: inline-block;
    width: 100%;
}

.new-bot-entry-label{
    width: 20%;
}

.entry textarea{
    resize: none;
    font-family: News Cycle;
    height: 300px;
    font-size: 15px;
}

.page-404{
    text-align: center;
    margin-top: 10vh;
}

.page-404 h1{
    font-weight: bold;
    font-size: 80px;
}

.page-404 font{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 5px;
}

.bot-page{
    display: flex;
}

.bot-img img{
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.bot-info{
    margin-left: 20px;
    width: 100%;
}

@media (max-width: 1000px){
    .bot-page{
        display: block;
    }

    .bot-info{
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
    }

    .bot-img{
        text-align: center;
    }
}

.bot-info p{
    margin: 0;
}

.developers{
    display: inline-block;
}

.infocard-text{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0 8px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

.bot-info-title{
    font-family: Alata;
}

.bot-page-handler{
    background-color: #7298da;
}

.badge, .badge-mini{
    background-color: #303339;
    border-radius: 3px;
    display: inline-block;
}

.badge:not(:first-child){
    margin-left: 5px;
}

.badge-content, .badge-mini{
    padding: 3px 8px;
}

.badge-cover{
    display: inline-block;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 3px 8px;
}

.badge-mini{
    margin-left: 5px;
}

.badge-btn{
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    text-decoration: none;
}

.badge-btn:not(:first-child){
    margin-left: 5px;
}

.badge, .badge-btn, .badge-mini{
    box-shadow: .5px 1px 3px #18181d;
}

.badge-btn{
    cursor: pointer;
}

.bot-des-handler{
    padding: 30px;
    display: block;
}

.bot-des, .text-area{
    padding: 20px;
    border-radius: 3px;
    background-color: #23272a;
}

.category-card{
    box-shadow: none;
    cursor: pointer;
    transition: .2s;
}

.category-card:hover{
    background-color: white;
    color: #18181d;
}

.category-card:not(:first-child){
    margin-left: 5px;
}

.row{
    width: 100%;
}

.botcard{
    margin-left: 5px;
    margin-top: 5px;
    background-color: #24272d;
}

.botcard img{
    width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
    top: 0;
    left: 0;
}

.botcard-content{
    padding: 10px;
}

@media (min-width: 800px){
    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .botcard{
        flex: 0 0 22.5%;
        max-width: 22.5%;
    }

    .botcard-content{
        width: 100%;
    }
}

@media (max-width: 800px){
    .botcard-content{
        width: 100%;
    }
}

.botcard a{
    background-color: none;
    text-decoration: none;
    color: #7298da;
    display: inline-block;
    width: 47.5%;
    text-align: center;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: .2s;
}

.botcard a:hover{
    background-color: #7298da;
    color: #18181d;
}

.home-content h1{
    margin-top: 20px;
    margin-bottom: 8px;
}

.status-circle{
    display: inline-block;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    margin-bottom: 1.5px;
}

.tos-content{
    padding: 30px;
    padding-bottom: 60px;
}

.tos-content a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.tos-content p{
    margin: 0;
}

.tos-content h1:not(:first-child){
    margin-top: 20px;
}

.reviews-box h1{
    margin-top: 20px;
}

.review-card hr{
    opacity: 0.3;
    border-width: 1px;
}

.review{
    display: flex;
}

.review img{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.r-side{
    margin-left: 10px;
    width: 100%;
}

.r-username{
    font-weight: bolder;
}

.r-time{
    opacity: 0.7;
    font-weight: lighter!important;
}

.review{
    margin-top: 10px;
}

#review-input{
    margin-top: 5px;
    width: 100%;
    height: 200px;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #26262b;
    color: white;
    border: 1.5px solid grey;
    border-radius: 8px;
    font-family: News Cycle;
}
#review-input textarea {
    width: 100%;
}
.review-send{
    cursor: pointer;
    float: right;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    background-color: rgb(255, 59, 24);
    color: white;
    margin-right: 0;
    width: 10%;
    text-align: center;
}

.review .badge-mini{
    cursor: pointer;
    box-shadow: none;
    padding: .3px 5px;
    font-weight: lighter;
    background-color: none!important;
}

.review .badge-mini:hover{
    opacity: 1!important;
}
.StarsSection {
    margin-top: 20px;
    margin-bottom:20px
}
.StarsSection h2 {
    font-weight: 600;
    font-size: 1.7em;
    margin-bottom: 7px;
}
.checked {
    color : #7298da
}
.pointer-c {
    cursor: pointer;
}